<div class="container-fluid mb-4">
<!-- Content Row -->
<div class="row g-4">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Card One</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-sm" href="#!">More Info</a>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Card Two</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-sm" href="#!">More Info</a>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Card Three</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-sm" href="#!">More Info</a>
        </div>
      </div>
    </div>
  </div>

  <div class="py-4 d-flex justify-content-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/a6E5pzst2YE?si=KujgNl_HAxryKBhl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  </div>
</div>